<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="descontoCategoriaService" class="spring.java_puro.services.DescontoCategoriaService"></bean>
    <bean id="pedidoController" class="spring.java_puro.controller.PedidoController">
        <property name="pedidoService" ref="pedidoService"/>
    </bean>

</beans>